.btn {
  display: block;
  border: 0;
  font-family: 'Mali', 'Montserrat';
  font-weight: 300;
  font-size: 1rem;
  line-height: 2.3rem;
  white-space: nowrap;
  text-decoration: none;
  text-align: center;
  padding: 2rem 1.1rem;
  cursor: pointer;
}

.btn-primary {
  font-size: 2.3rem;
  background-color: $black;
  color: $white;
  border-radius: 50px;

  transition: background-color 0.3s linear;

  &:hover {
    background: #252531;
  }

  &:active {
    background: #403054;
  }
}
