$desktop-max: 1560px;
$desktop-padding-x: 84px;

// colors
$white: #fff;
$black: #15151b;
$pastel-cyan: #e9f6ff;
$pastel-purple-blue: #e1ebfb;
$pastel-purple: #e5e4ff;
$pastel-orange: #fff3e2;
$pastel-green: #e3f7f4;

// use this mixin to include breakpoint specific styles
@mixin breakpoint($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

@mixin mobile {
  @include breakpoint(35em) {
    @content;
  }
}

@mixin tablet {
  @include breakpoint(60em) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 60em) {
    @content;
  }
}
